.header {
  padding: 46px 0px 56px;
}

.header_row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 13px;

  font-weight: 900;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 65px;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
